In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/top_20_enriched (1).csv')
df.head()

,Title,Country_x,Subscribers_x,Video Views,Uploads_x,Channel Link,Channel Type,Created Date,Subscriber Rank,Video View Rank,Country Rank,Estimated Monthly Income,Subscribers Last 30 Days,Views Last 30 Days,Yearly Income,Daily Subscribers Average,Daily Views Average
0,mrbeast,US,336000000,66485783433,836,https://youtube.com/@mrbeast,entertainment,"Feb 20th, 2012",1st,13th,1st,€760.4K - €12.2M,6M,3.342B,€9.1M - €146M,+200K,"+111,415,937"
1,vlad and niki,US,129000000,98963573244,790,https://youtube.com/@vladandniki,entertainment,"Apr 23rd, 2018",6th,7th,3rd,€344.4K - €5.5M,2M,1.514B,€4.1M - €66.1M,+66.6K,"+50,458,586"
2,✿ kids diana show,US,128000000,108833430096,1280,https://youtube.com/@kidsdianashow,entertainment,"May 12th, 2015",7th,5th,4th,€326.5K - €5.2M,1M,1.435B,€3.9M - €62.7M,+33.3K,"+47,832,263"
3,like nastya,US,123000000,107885644820,916,https://youtube.com/@likenastyaofficial,entertainment,"Dec 6th, 2016",8th,6th,5th,€335.9K - €5.4M,1M,1.476B,€4M - €64.5M,+33.3K,"+49,212,736"
4,pewdiepie,JP,110000000,29452005379,4800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Title                      20 non-null     object
 1   Country_x                  18 non-null     object
 2   Subscribers_x              20 non-null     int64
 3   Video Views                20 non-null     int64
 4   Uploads_x                  20 non-null     int64
 5   Channel Link               10 non-null     object
 6   Channel Type               10 non-null     object
 7   Created Date               10 non-null     object
 8   Subscriber Rank            10 non-null     object
 9   Video View Rank            10 non-null     object
 10  Country Rank               10 non-null     object
 11  Estimated Monthly Income   10 non-null     object
 12  Subscribers Last 30 Days   10 non-null     object
 13  Views Last 30 Days         10 non-null     object
 14  Yearly Income              10 non-null     object
 15  Daily Subscribers Average  10 non-null     object
 16  Daily Views Average        10 non-null     object
dtypes: int64(3), object(14)
memory usage: 2.8+ KB

In [4]:
import pandas as pd
import numpy as np
import re

def clean_date(date_str):
    # Check if the input is a string
    if isinstance(date_str, str):
        # Remove ordinal suffixes (st, nd, rd, th) using regex
        date_str = re.sub(r'(\d+)(st|nd|rd|th)', r'\1', date_str)
    return date_str

df = pd.read_csv('/content/top_20_enriched (1).csv')
df['Created Date'] = df['Created Date'].apply(clean_date)
df['Created Date'] = pd.to_datetime(df['Created Date'], format='%b %d, %Y', errors='coerce')
# Added errors='coerce' to handle invalid parsing gracefully

In [5]:
df

,Title,Country_x,Subscribers_x,Video Views,Uploads_x,Channel Link,Channel Type,Created Date,Subscriber Rank,Video View Rank,Country Rank,Estimated Monthly Income,Subscribers Last 30 Days,Views Last 30 Days,Yearly Income,Daily Subscribers Average,Daily Views Average
0,mrbeast,US,336000000,66485783433,836,https://youtube.com/@mrbeast,entertainment,2012-02-20,1st,13th,1st,€760.4K - €12.2M,6M,3.342B,€9.1M - €146M,+200K,"+111,415,937"
1,vlad and niki,US,129000000,98963573244,790,https://youtube.com/@vladandniki,entertainment,2018-04-23,6th,7th,3rd,€344.4K - €5.5M,2M,1.514B,€4.1M - €66.1M,+66.6K,"+50,458,586"
2,✿ kids diana show,US,128000000,108833430096,1280,https://youtube.com/@kidsdianashow,entertainment,2015-05-12,7th,5th,4th,€326.5K - €5.2M,1M,1.435B,€3.9M - €62.7M,+33.3K,"+47,832,263"
3,like nastya,US,123000000,107885644820,916,https://youtube.com/@likenastyaofficial,entertainment,2016-12-06,8th,6th,5th,€335.9K - €5.4M,1M,1.476B,€4M - €64.5M,+33.3K,"+49,212,736"
4,pewdiepie,JP,110000000,29452005379,4800,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,wwe,NaN,105000000,90054898316,80845,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,stokes twins,US,101000000,15951895953,333,https://youtube.com/@stokestwins,people,2008-04-11,13th,335th,6th,€252K - €4M,4.5M,1.108B,€3M - €48.4M,+150K,"+36,924,432"
7,5-minute crafts,US,81100000,27896962745,7384,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,김프로kimpro,KR,72600000,56248043457,3572,https://youtube.com/@kimpro828,people,2017-11-11,27th,21st,4th,€635.1K - €10.2M,4.2M,2.792B,€7.6M - €121.9M,+140K,"+93,061,344"
9,a4,US,71300000,31451352045,969,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ur · cristiano,PT,71500000,708348070,77,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,alan chikin chow,US,69500000,48789998680,1408,https://youtube.com/@alanchikinchow,entertainment,2020-02-03,32nd,26th,10th,€196.2K - €3.1M,2.9M,862.213M,€2.4M - €37.7M,+96.6K,"+28,740,449"
12,zamzam electronics trading,AE,69200000,34062790399,19180,https://youtube.com/@zamzamelectronicstradingl,people,2020-12-19,33rd,57th,1st,€305.2K - €4.9M,2.2M,1.342B,€3.7M - €58.6M,+73.3K,"+44,719,520"
13,toys and colors,US,68100000,81954205531,1392,https://youtube.com/@toysandcolors,entertainment,2016-03-17,35th,10th,11th,€640.1K - €10.2M,1.9M,2.814B,€7.7M - €122.9M,+63.3K,"+93,785,778"
14,wavemusic,US,4740000,2527788438,2268,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,kl bro biju rithvik,NaN,62500000,54006608122,2865,https://youtube.com/@klbrobijurithvik1,entertainment,2020-07-21,42nd,23rd,--,€623.1K - €10M,2.6M,2.739B,€7.5M - €119.6M,+86.6K,"+91,293,285"
16,dude perfect,US,60600000,17992859113,462,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,mark rober,US,60500000,8859070726,186,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,carryminati,IN,44800000,4072864133,202,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,whinderssonnunes,BR,44700000,4587763266,868,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# je veux passer les colonnes rank en numérique en retirant les suffixes

In [7]:
#retirer les lettres dans les rank
def convert_to_number(value):
    if pd.isna(value):  # Si la valeur est NaN
        return None
    value = str(value).replace(",", "").strip()  # Retirer les séparateurs et convertir en string
    if "K" in value:
        return float(value.replace("K", "")) * 1e3  # Convertir les milliers
    elif "M" in value:
        return float(value.replace("M", "")) * 1e6  # Convertir les millions
    try:
        return float(value)  # Convertir les valeurs simples
    except ValueError:
        return None  # Retourner None si la conversion échoue

# Appliquer la fonction sur la colonne
df["Subscribers Last 30 Days (Numeric)"] = df["Subscribers Last 30 Days"].apply(convert_to_number)

# Résultat
print(df)

                         Title Country_x  Subscribers_x   Video Views  \
0                      mrbeast        US      336000000   66485783433
1                vlad and niki        US      129000000   98963573244
2            ✿ kids diana show        US      128000000  108833430096
3                  like nastya        US      123000000  107885644820
4                    pewdiepie        JP      110000000   29452005379
5                          wwe       NaN      105000000   90054898316
6                 stokes twins        US      101000000   15951895953
7              5-minute crafts        US       81100000   27896962745
8                    김프로kimpro        KR       72600000   56248043457
9                           a4        US       71300000   31451352045
10              ur · cristiano        PT       71500000     708348070
11            alan chikin chow        US       69500000   48789998680
12  zamzam electronics trading        AE       69200000   34062790399
13             toys and colors        US       68100000   81954205531
14                   wavemusic        US        4740000    2527788438
15         kl bro biju rithvik       NaN       62500000   54006608122
16                dude perfect        US       60600000   17992859113
17                  mark rober        US       60500000    8859070726
18                 carryminati        IN       44800000    4072864133
19            whinderssonnunes        BR       44700000    4587763266

    Uploads_x                                    Channel Link   Channel Type  \
0         836                    https://youtube.com/@mrbeast  entertainment
1         790                https://youtube.com/@vladandniki  entertainment
2        1280              https://youtube.com/@kidsdianashow  entertainment
3         916         https://youtube.com/@likenastyaofficial  entertainment
4        4800                                             NaN            NaN
5       80845                                             NaN            NaN
6         333                https://youtube.com/@stokestwins         people
7        7384                                             NaN            NaN
8        3572                  https://youtube.com/@kimpro828         people
9         969                                             NaN            NaN
10         77                                             NaN            NaN
11       1408             https://youtube.com/@alanchikinchow  entertainment
12      19180  https://youtube.com/@zamzamelectronicstradingl         people
13       1392              https://youtube.com/@toysandcolors  entertainment
14       2268                                             NaN            NaN
15       2865          https://youtube.com/@klbrobijurithvik1  entertainment
16        462                                             NaN            NaN
17        186                                             NaN            NaN
18        202                                             NaN            NaN
19        868                                             NaN            NaN

   Created Date Subscriber Rank Video View Rank Country Rank  \
0    2012-02-20               1              13            1
1    2018-04-23               6               7            3
2    2015-05-12               7               5            4
3    2016-12-06               8               6            5
4           NaT             NaN             NaN          NaN
5           NaT             NaN             NaN          NaN
6    2008-04-11              13             335            6
7           NaT             NaN             NaN          NaN
8    2017-11-11              27              21            4
9           NaT             NaN             NaN          NaN
10          NaT             NaN             NaN          NaN
11   2020-02-03              32              26           10
12   2020-12-19              33              57            1
13   2016-03-17              35              10           11
14          NaT             NaN             NaN          NaN
15   2020-07-21              42              23
16          NaT             NaN             NaN          NaN
17          NaT             NaN             NaN          NaN
18          NaT             NaN             NaN          NaN
19          NaT             NaN             NaN          NaN

   Estimated Monthly Income Subscribers Last 30 Days Views Last 30 Days  \
0          €760.4K - €12.2M                       6M             3.342B
1           €344.4K - €5.5M                       2M             1.514B
2           €326.5K - €5.2M                       1M             1.435B
3           €335.9K - €5.4M                       1M             1.476B
4                       NaN                      NaN                NaN
5                       NaN                      NaN                NaN
6               €252K - €4M                     4.5M             1.108B
7                       NaN                      NaN                NaN
8          €635.1K - €10.2M                     4.2M             2.792B
9                       NaN                      NaN                NaN
10                      NaN                      NaN                NaN
11          €196.2K - €3.1M                     2.9M           862.213M
12          €305.2K - €4.9M                     2.2M             1.342B
13         €640.1K - €10.2M                     1.9M             2.814B
14                      NaN                      NaN                NaN
15           €623.1K - €10M                     2.6M             2.739B
16                      NaN                      NaN                NaN
17                      NaN                      NaN                NaN
18                      NaN                      NaN                NaN
19                      NaN                      NaN                NaN

      Yearly Income Daily Subscribers Average Daily Views Average  \
0     €9.1M - €146M                     +200K        +111,415,937
1    €4.1M - €66.1M                    +66.6K         +50,458,586
2    €3.9M - €62.7M                    +33.3K         +47,832,263
3      €4M - €64.5M                    +33.3K         +49,212,736
4               NaN                       NaN                 NaN
5               NaN                       NaN                 NaN
6      €3M - €48.4M                     +150K         +36,924,432
7               NaN                       NaN                 NaN
8   €7.6M - €121.9M                     +140K         +93,061,344
9               NaN                       NaN                 NaN
10              NaN                       NaN                 NaN
11   €2.4M - €37.7M                    +96.6K         +28,740,449
12   €3.7M - €58.6M                    +73.3K         +44,719,520
13  €7.7M - €122.9M                    +63.3K         +93,785,778
14              NaN                       NaN                 NaN
15  €7.5M - €119.6M                    +86.6K         +91,293,285
16              NaN                       NaN                 NaN
17              NaN                       NaN                 NaN
18              NaN                       NaN                 NaN
19              NaN                       NaN                 NaN

    Subscribers Last 30 Days (Numeric)
0                            6000000.0
1                            2000000.0
2                            1000000.0
3                            1000000.0
4                                  NaN
5                                  NaN
6                            4500000.0
7                                  NaN
8                            4200000.0
9                                  NaN
10                                 NaN
11                           2900000.0
12                           2200000.0
13                           1900000.0
14                                 NaN
15                           2600000.0
16                                 NaN
17                                 NaN
18                                 NaN
19                                 NaN

In [10]:
def convert_to_number(value):
    if pd.isna(value):  # Si la valeur est NaN
        return None
    value = str(value).replace(",", "").strip()  # Retirer les séparateurs et convertir en string
    if "K" in value:
        return float(value.replace("K", "")) * 1e3  # Convertir les milliers
    elif "M" in value:
        return float(value.replace("M", "")) * 1e6  # Convertir les millions
    elif "B" in value:
        return float(value.replace("B", "")) * 1e9  # Convertir les milliards
    try:
        return float(value)  # Convertir les valeurs simples
    except ValueError:
        return None  # Retourner None si la conversion échoue

# Appliquer la fonction sur la colonne
df["Views Last 30 Days (Numeric)"] = df["Views Last 30 Days"].apply(convert_to_number)
df

,Title,Country_x,Subscribers_x,Video Views,Uploads_x,Channel Link,Channel Type,Created Date,Subscriber Rank,Video View Rank,Country Rank,Estimated Monthly Income,Subscribers Last 30 Days,Views Last 30 Days,Yearly Income,Daily Subscribers Average,Daily Views Average,Subscribers Last 30 Days (Numeric),Views Last 30 Days (Numeric)
0,mrbeast,US,336000000,66485783433,836,https://youtube.com/@mrbeast,entertainment,2012-02-20,1,13,1,€760.4K - €12.2M,6M,3.342B,€9.1M - €146M,+200K,"+111,415,937",6000000.0,3.342000e+09
1,vlad and niki,US,129000000,98963573244,790,https://youtube.com/@vladandniki,entertainment,2018-04-23,6,7,3,€344.4K - €5.5M,2M,1.514B,€4.1M - €66.1M,+66.6K,"+50,458,586",2000000.0,1.514000e+09
2,✿ kids diana show,US,128000000,108833430096,1280,https://youtube.com/@kidsdianashow,entertainment,2015-05-12,7,5,4,€326.5K - €5.2M,1M,1.435B,€3.9M - €62.7M,+33.3K,"+47,832,263",1000000.0,1.435000e+09
3,like nastya,US,123000000,107885644820,916,https://youtube.com/@likenastyaofficial,entertainment,2016-12-06,8,6,5,€335.9K - €5.4M,1M,1.476B,€4M - €64.5M,+33.3K,"+49,212,736",1000000.0,1.476000e+09
4,pewdiepie,JP,110000000,29452005379,4800,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,wwe,NaN,105000000,90054898316,80845,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,stokes twins,US,101000000,15951895953,333,https://youtube.com/@stokestwins,people,2008-04-11,13,335,6,€252K - €4M,4.5M,1.108B,€3M - €48.4M,+150K,"+36,924,432",4500000.0,1.108000e+09
7,5-minute crafts,US,81100000,27896962745,7384,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,김프로kimpro,KR,72600000,56248043457,3572,https://youtube.com/@kimpro828,people,2017-11-11,27,21,4,€635.1K - €10.2M,4.2M,2.792B,€7.6M - €121.9M,+140K,"+93,061,344",4200000.0,2.792000e+09
9,a4,US,71300000,31451352045,969,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ur · cristiano,PT,71500000,708348070,77,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,alan chikin chow,US,69500000,48789998680,1408,https://youtube.com/@alanchikinchow,entertainment,2020-02-03,32,26,10,€196.2K - €3.1M,2.9M,862.213M,€2.4M - €37.7M,+96.6K,"+28,740,449",2900000.0,8.622130e+08
12,zamzam electronics trading,AE,69200000,34062790399,19180,https://youtube.com/@zamzamelectronicstradingl,people,2020-12-19,33,57,1,€305.2K - €4.9M,2.2M,1.342B,€3.7M - €58.6M,+73.3K,"+44,719,520",2200000.0,1.342000e+09
13,toys and colors,US,68100000,81954205531,1392,https://youtube.com/@toysandcolors,entertainment,2016-03-17,35,10,11,€640.1K - €10.2M,1.9M,2.814B,€7.7M - €122.9M,+63.3K,"+93,785,778",1900000.0,2.814000e+09
14,wavemusic,US,4740000,2527788438,2268,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,kl bro biju rithvik,NaN,62500000,54006608122,2865,https://youtube.com/@klbrobijurithvik1,entertainment,2020-07-21,42,23,,€623.1K - €10M,2.6M,2.739B,€7.5M - €119.6M,+86.6K,"+91,293,285",2600000.0,2.739000e+09
16,dude perfect,US,60600000,17992859113,462,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,mark rober,US,60500000,8859070726,186,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,carryminati,IN,44800000,4072864133,202,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,whinderssonnunes,BR,44700000,4587763266,868,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
def convert_to_number(value):
    if pd.isna(value):  # Si la valeur est NaN
        return None
    value = str(value).replace(",", "").strip()  # Retirer les séparateurs et convertir en string
    if "K" in value:
        return float(value.replace("K", "")) * 1e3  # Convertir les milliers
    elif "M" in value:
        return float(value.replace("M", "")) * 1e6  # Convertir les millions
    elif "B" in value:
        return float(value.replace("B", "")) * 1e9  # Convertir les milliards
    try:
        return float(value)  # Convertir les valeurs simples
    except ValueError:
        return None  # Retourner None si la conversion échoue

# Appliquer la fonction sur la colonne
df["Daily Subscribers Average num "] = df["Daily Subscribers Average"].apply(convert_to_number)
df["Daily Views Average num "] = df["Daily Views Average"].apply(convert_to_number)
df

,Title,Country_x,Subscribers_x,Video Views,Uploads_x,Channel Link,Channel Type,Created Date,Subscriber Rank,Video View Rank,...,Estimated Monthly Income,Subscribers Last 30 Days,Views Last 30 Days,Yearly Income,Daily Subscribers Average,Daily Views Average,Subscribers Last 30 Days (Numeric),Views Last 30 Days (Numeric),Daily Subscribers Average num,Daily Views Average num
0,mrbeast,US,336000000,66485783433,836,https://youtube.com/@mrbeast,entertainment,2012-02-20,1,13,...,€760.4K - €12.2M,6M,3.342B,€9.1M - €146M,+200K,"+111,415,937",6000000.0,3.342000e+09,200000.0,111415937.0
1,vlad and niki,US,129000000,98963573244,790,https://youtube.com/@vladandniki,entertainment,2018-04-23,6,7,...,€344.4K - €5.5M,2M,1.514B,€4.1M - €66.1M,+66.6K,"+50,458,586",2000000.0,1.514000e+09,66600.0,50458586.0
2,✿ kids diana show,US,128000000,108833430096,1280,https://youtube.com/@kidsdianashow,entertainment,2015-05-12,7,5,...,€326.5K - €5.2M,1M,1.435B,€3.9M - €62.7M,+33.3K,"+47,832,263",1000000.0,1.435000e+09,33300.0,47832263.0
3,like nastya,US,123000000,107885644820,916,https://youtube.com/@likenastyaofficial,entertainment,2016-12-06,8,6,...,€335.9K - €5.4M,1M,1.476B,€4M - €64.5M,+33.3K,"+49,212,736",1000000.0,1.476000e+09,33300.0,49212736.0
4,pewdiepie,JP,110000000,29452005379,4800,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,wwe,NaN,105000000,90054898316,80845,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,stokes twins,US,101000000,15951895953,333,https://youtube.com/@stokestwins,people,2008-04-11,13,335,...,€252K - €4M,4.5M,1.108B,€3M - €48.4M,+150K,"+36,924,432",4500000.0,1.108000e+09,150000.0,36924432.0
7,5-minute crafts,US,81100000,27896962745,7384,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,김프로kimpro,KR,72600000,56248043457,3572,https://youtube.com/@kimpro828,people,2017-11-11,27,21,...,€635.1K - €10.2M,4.2M,2.792B,€7.6M - €121.9M,+140K,"+93,061,344",4200000.0,2.792000e+09,140000.0,93061344.0
9,a4,US,71300000,31451352045,969,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ur · cristiano,PT,71500000,708348070,77,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,alan chikin chow,US,69500000,48789998680,1408,https://youtube.com/@alanchikinchow,entertainment,2020-02-03,32,26,...,€196.2K - €3.1M,2.9M,862.213M,€2.4M - €37.7M,+96.6K,"+28,740,449",2900000.0,8.622130e+08,96600.0,28740449.0
12,zamzam electronics trading,AE,69200000,34062790399,19180,https://youtube.com/@zamzamelectronicstradingl,people,2020-12-19,33,57,...,€305.2K - €4.9M,2.2M,1.342B,€3.7M - €58.6M,+73.3K,"+44,719,520",2200000.0,1.342000e+09,73300.0,44719520.0
13,toys and colors,US,68100000,81954205531,1392,https://youtube.com/@toysandcolors,entertainment,2016-03-17,35,10,...,€640.1K - €10.2M,1.9M,2.814B,€7.7M - €122.9M,+63.3K,"+93,785,778",1900000.0,2.814000e+09,63300.0,93785778.0
14,wavemusic,US,4740000,2527788438,2268,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,kl bro biju rithvik,NaN,62500000,54006608122,2865,https://youtube.com/@klbrobijurithvik1,entertainment,2020-07-21,42,23,...,€623.1K - €10M,2.6M,2.739B,€7.5M - €119.6M,+86.6K,"+91,293,285",2600000.0,2.739000e+09,86600.0,91293285.0
16,dude perfect,US,60600000,17992859113,462,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,mark rober,US,60500000,8859070726,186,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,carryminati,IN,44800000,4072864133,202,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,whinderssonnunes,BR,44700000,4587763266,868,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Title                      20 non-null     object
 1   Country_x                  18 non-null     object
 2   Subscribers_x              20 non-null     int64
 3   Video Views                20 non-null     int64
 4   Uploads_x                  20 non-null     int64
 5   Channel Link               10 non-null     object
 6   Channel Type               10 non-null     object
 7   Created Date               10 non-null     datetime64[ns]
 8   Subscriber Rank            10 non-null     object
 9   Video View Rank            10 non-null     object
 10  Country Rank               10 non-null     object
 11  Estimated Monthly Income   10 non-null     object
 12  Subscribers Last 30 Days   10 non-null     object
 13  Views Last 30 Days         10 non-null     object
 14  Yearly Income              10 non-null     object
 15  Daily Subscribers Average  10 non-null     object
 16  Daily Views Average        10 non-null     object
 17  Min                        10 non-null     object
 18  Max                        10 non-null     object
dtypes: datetime64[ns](1), int64(3), object(15)
memory usage: 3.1+ KB

In [14]:
def convert_to_number(value):
    if pd.isna(value):  # Si la valeur est NaN
        return None
    value = str(value)  # Convertir en string si ce n'est pas déjà le cas
    value = value.replace("€", "").replace(",", "")  # Retirer les symboles et les séparateurs
    if "K" in value:
        return float(value.replace("K", "")) * 1e3  # Convertir les milliers
    elif "M" in value:
        return float(value.replace("M", "")) * 1e6  # Convertir les millions
    try:
        return float(value)  # Essayer de convertir directement
    except ValueError:
        return None  # Retourner None si conversion impossible

# Séparer les colonnes (convertir les valeurs NaN en chaînes vides pour éviter les erreurs)
df["Estimated Monthly Income"] = df["Estimated Monthly Income"].fillna("")
df[["Min", "Max"]] = df["Estimated Monthly Income"].str.split(" - ", expand=True)

# Convertir les colonnes Min et Max en nombres
df["Estimated Monthly Min"] = df["Min"].apply(convert_to_number)
df["Estimated Monthly Max"] = df["Max"].apply(convert_to_number)

df

,Title,Country_x,Subscribers_x,Video Views,Uploads_x,Channel Link,Channel Type,Created Date,Subscriber Rank,Video View Rank,...,Daily Subscribers Average,Daily Views Average,Subscribers Last 30 Days (Numeric),Views Last 30 Days (Numeric),Daily Subscribers Average num,Daily Views Average num,Min,Max,Estimated Monthly Min,Estimated Monthly Max
0,mrbeast,US,336000000,66485783433,836,https://youtube.com/@mrbeast,entertainment,2012-02-20,1,13,...,+200K,"+111,415,937",6000000.0,3.342000e+09,200000.0,111415937.0,€760.4K,€12.2M,760400.0,12200000.0
1,vlad and niki,US,129000000,98963573244,790,https://youtube.com/@vladandniki,entertainment,2018-04-23,6,7,...,+66.6K,"+50,458,586",2000000.0,1.514000e+09,66600.0,50458586.0,€344.4K,€5.5M,344400.0,5500000.0
2,✿ kids diana show,US,128000000,108833430096,1280,https://youtube.com/@kidsdianashow,entertainment,2015-05-12,7,5,...,+33.3K,"+47,832,263",1000000.0,1.435000e+09,33300.0,47832263.0,€326.5K,€5.2M,326500.0,5200000.0
3,like nastya,US,123000000,107885644820,916,https://youtube.com/@likenastyaofficial,entertainment,2016-12-06,8,6,...,+33.3K,"+49,212,736",1000000.0,1.476000e+09,33300.0,49212736.0,€335.9K,€5.4M,335900.0,5400000.0
4,pewdiepie,JP,110000000,29452005379,4800,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN,NaN
5,wwe,NaN,105000000,90054898316,80845,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN,NaN
6,stokes twins,US,101000000,15951895953,333,https://youtube.com/@stokestwins,people,2008-04-11,13,335,...,+150K,"+36,924,432",4500000.0,1.108000e+09,150000.0,36924432.0,€252K,€4M,252000.0,4000000.0
7,5-minute crafts,US,81100000,27896962745,7384,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN,NaN
8,김프로kimpro,KR,72600000,56248043457,3572,https://youtube.com/@kimpro828,people,2017-11-11,27,21,...,+140K,"+93,061,344",4200000.0,2.792000e+09,140000.0,93061344.0,€635.1K,€10.2M,635100.0,10200000.0
9,a4,US,71300000,31451352045,969,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN,NaN
10,ur · cristiano,PT,71500000,708348070,77,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN,NaN
11,alan chikin chow,US,69500000,48789998680,1408,https://youtube.com/@alanchikinchow,entertainment,2020-02-03,32,26,...,+96.6K,"+28,740,449",2900000.0,8.622130e+08,96600.0,28740449.0,€196.2K,€3.1M,196200.0,3100000.0
12,zamzam electronics trading,AE,69200000,34062790399,19180,https://youtube.com/@zamzamelectronicstradingl,people,2020-12-19,33,57,...,+73.3K,"+44,719,520",2200000.0,1.342000e+09,73300.0,44719520.0,€305.2K,€4.9M,305200.0,4900000.0
13,toys and colors,US,68100000,81954205531,1392,https://youtube.com/@toysandcolors,entertainment,2016-03-17,35,10,...,+63.3K,"+93,785,778",1900000.0,2.814000e+09,63300.0,93785778.0,€640.1K,€10.2M,640100.0,10200000.0
14,wavemusic,US,4740000,2527788438,2268,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN,NaN
15,kl bro biju rithvik,NaN,62500000,54006608122,2865,https://youtube.com/@klbrobijurithvik1,entertainment,2020-07-21,42,23,...,+86.6K,"+91,293,285",2600000.0,2.739000e+09,86600.0,91293285.0,€623.1K,€10M,623100.0,10000000.0
16,dude perfect,US,60600000,17992859113,462,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN,NaN
17,mark rober,US,60500000,8859070726,186,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN,NaN
18,carryminati,IN,44800000,4072864133,202,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN,NaN
19,whinderssonnunes,BR,44700000,4587763266,868,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN,NaN

In [15]:
def convert_to_number(value):
    if pd.isna(value):  # Si la valeur est NaN
        return None
    value = str(value)  # Convertir en string si ce n'est pas déjà le cas
    value = value.replace("€", "").replace(",", "")  # Retirer les symboles et les séparateurs
    if "K" in value:
        return float(value.replace("K", "")) * 1e3  # Convertir les milliers
    elif "M" in value:
        return float(value.replace("M", "")) * 1e6  # Convertir les millions
    try:
        return float(value)  # Essayer de convertir directement
    except ValueError:
        return None  # Retourner None si conversion impossible

# Séparer les colonnes (convertir les valeurs NaN en chaînes vides pour éviter les erreurs)
df["Yearly Income"] = df["Yearly Income"].fillna("")
df[["Min by year", "Max by year"]] = df["Yearly Income"].str.split(" - ", expand=True)

# Convertir les colonnes Min et Max en nombres
df["Yearly Income Min"] = df["Min by year"].apply(convert_to_number)
df["Yearly Income Max"] = df["Max by year"].apply(convert_to_number)

df

,Title,Country_x,Subscribers_x,Video Views,Uploads_x,Channel Link,Channel Type,Created Date,Subscriber Rank,Video View Rank,...,Daily Subscribers Average num,Daily Views Average num,Min,Max,Estimated Monthly Min,Estimated Monthly Max,Min by year,Max by year,Yearly Income Min,Yearly Income Max
0,mrbeast,US,336000000,66485783433,836,https://youtube.com/@mrbeast,entertainment,2012-02-20,1,13,...,200000.0,111415937.0,€760.4K,€12.2M,760400.0,12200000.0,€9.1M,€146M,9100000.0,146000000.0
1,vlad and niki,US,129000000,98963573244,790,https://youtube.com/@vladandniki,entertainment,2018-04-23,6,7,...,66600.0,50458586.0,€344.4K,€5.5M,344400.0,5500000.0,€4.1M,€66.1M,4100000.0,66100000.0
2,✿ kids diana show,US,128000000,108833430096,1280,https://youtube.com/@kidsdianashow,entertainment,2015-05-12,7,5,...,33300.0,47832263.0,€326.5K,€5.2M,326500.0,5200000.0,€3.9M,€62.7M,3900000.0,62700000.0
3,like nastya,US,123000000,107885644820,916,https://youtube.com/@likenastyaofficial,entertainment,2016-12-06,8,6,...,33300.0,49212736.0,€335.9K,€5.4M,335900.0,5400000.0,€4M,€64.5M,4000000.0,64500000.0
4,pewdiepie,JP,110000000,29452005379,4800,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,,None,NaN,NaN,,None,NaN,NaN
5,wwe,NaN,105000000,90054898316,80845,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,,None,NaN,NaN,,None,NaN,NaN
6,stokes twins,US,101000000,15951895953,333,https://youtube.com/@stokestwins,people,2008-04-11,13,335,...,150000.0,36924432.0,€252K,€4M,252000.0,4000000.0,€3M,€48.4M,3000000.0,48400000.0
7,5-minute crafts,US,81100000,27896962745,7384,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,,None,NaN,NaN,,None,NaN,NaN
8,김프로kimpro,KR,72600000,56248043457,3572,https://youtube.com/@kimpro828,people,2017-11-11,27,21,...,140000.0,93061344.0,€635.1K,€10.2M,635100.0,10200000.0,€7.6M,€121.9M,7600000.0,121900000.0
9,a4,US,71300000,31451352045,969,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,,None,NaN,NaN,,None,NaN,NaN
10,ur · cristiano,PT,71500000,708348070,77,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,,None,NaN,NaN,,None,NaN,NaN
11,alan chikin chow,US,69500000,48789998680,1408,https://youtube.com/@alanchikinchow,entertainment,2020-02-03,32,26,...,96600.0,28740449.0,€196.2K,€3.1M,196200.0,3100000.0,€2.4M,€37.7M,2400000.0,37700000.0
12,zamzam electronics trading,AE,69200000,34062790399,19180,https://youtube.com/@zamzamelectronicstradingl,people,2020-12-19,33,57,...,73300.0,44719520.0,€305.2K,€4.9M,305200.0,4900000.0,€3.7M,€58.6M,3700000.0,58600000.0
13,toys and colors,US,68100000,81954205531,1392,https://youtube.com/@toysandcolors,entertainment,2016-03-17,35,10,...,63300.0,93785778.0,€640.1K,€10.2M,640100.0,10200000.0,€7.7M,€122.9M,7700000.0,122900000.0
14,wavemusic,US,4740000,2527788438,2268,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,,None,NaN,NaN,,None,NaN,NaN
15,kl bro biju rithvik,NaN,62500000,54006608122,2865,https://youtube.com/@klbrobijurithvik1,entertainment,2020-07-21,42,23,...,86600.0,91293285.0,€623.1K,€10M,623100.0,10000000.0,€7.5M,€119.6M,7500000.0,119600000.0
16,dude perfect,US,60600000,17992859113,462,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,,None,NaN,NaN,,None,NaN,NaN
17,mark rober,US,60500000,8859070726,186,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,,None,NaN,NaN,,None,NaN,NaN
18,carryminati,IN,44800000,4072864133,202,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,,None,NaN,NaN,,None,NaN,NaN
19,whinderssonnunes,BR,44700000,4587763266,868,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,,None,NaN,NaN,,None,NaN,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 29 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Title                               20 non-null     object
 1   Country_x                           18 non-null     object
 2   Subscribers_x                       20 non-null     int64
 3   Video Views                         20 non-null     int64
 4   Uploads_x                           20 non-null     int64
 5   Channel Link                        10 non-null     object
 6   Channel Type                        10 non-null     object
 7   Created Date                        10 non-null     datetime64[ns]
 8   Subscriber Rank                     10 non-null     object
 9   Video View Rank                     10 non-null     object
 10  Country Rank                        10 non-null     object
 11  Estimated Monthly Income            20 non-null     object
 12  Subscribers Last 30 Days            10 non-null     object
 13  Views Last 30 Days                  10 non-null     object
 14  Yearly Income                       20 non-null     object
 15  Daily Subscribers Average           10 non-null     object
 16  Daily Views Average                 10 non-null     object
 17  Subscribers Last 30 Days (Numeric)  10 non-null     float64
 18  Views Last 30 Days (Numeric)        10 non-null     float64
 19  Daily Subscribers Average num       10 non-null     float64
 20  Daily Views Average num             10 non-null     float64
 21  Min                                 20 non-null     object
 22  Max                                 10 non-null     object
 23  Estimated Monthly Min               10 non-null     float64
 24  Estimated Monthly Max               10 non-null     float64
 25  Min by year                         20 non-null     object
 26  Max by year                         10 non-null     object
 27  Yearly Income Min                   10 non-null     float64
 28  Yearly Income Max                   10 non-null     float64
dtypes: datetime64[ns](1), float64(8), int64(3), object(17)
memory usage: 4.7+ KB

In [17]:
df.drop(columns=['Subscribers Last 30 Days', 'Views Last 30 Days', 'Daily Subscribers Average', 'Daily Views Average'], inplace=True)

In [21]:
df.drop(columns=['Min', 'Max','Min by year', 'Max by year' ], inplace=True)